.navbar {
  display: flex;
  background-color: $grey;
  color: $white;
  align-items: center;
  height: $header-height;

  ul {
    list-style-type: none;
    display: flex;
    flex: 1;
    li {
      margin: 0 1rem;
    }
  }


  a {
    text-decoration: none;
    color: $white;
  }

  .logo {
    font-size: 1.6rem;
    flex: 1;
  }
}
