.app {

  .container {
    border: 1px solid $grey;
    border-radius: 15px;
    overflow: hidden;
    display: block;
    max-width: $max-container-width;
    height: calc(100vh - #{$header-height});
    margin: 0 auto;
  }
}
